<%= form_for(boiler_room) do |f| %>
  <div class="clearfix">
	  <div class="input">
      <%= f.text_field :name, :placeholder => "Имя"%>
	</div>
  </div>
  <div class="actions">
	<% if create%>
		<%= f.submit 'Добавить', :class => "btn primary"%>
	<% else %>	
		<%= f.submit 'Обновить', :class => "btn primary"%>
	<% end %>
  </div>
<% end %>
