<!DOCTYPE html>
<html>
<head>
  <title>Система автоматизации учета поставок топлива для котельних</title>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= javascript_include_tag "jquery", "jquery.tablesorter.min", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
